.faBtn {
  cursor: pointer;
  outline: 0;
  color: white;
  padding: 0px 6px;
  font-size: 14px;
  font-weight: unset;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.fa-right {
  background-color: #28a745;
  border: 1px solid #28a745;
  margin-left: 10px;
  margin-right: 10px;
}
.fa-cancel {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}
.faBtn:hover {
  color: black;
}
.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
